form {
  background-color: var(--detail-color-light);
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-top: 50px;
  padding: 1.1rem 0.7rem;
}

label {
  align-self: flex-start;
  font-weight: bold;
}

input {
  border: none;
  width: 100%;
  margin-top: 1rem;
  padding: 7px 0px;
}

button {
  align-self: flex-start;
  border: none;
  background-color: var(--detail-color-dark);
  color: var(--main-color);
  cursor: pointer;
  font-size: x-large;
  font-weight: bold;
  margin-top: 1rem;
  width: 45px;
}

button:hover {
  background-color: var(--detail-color-dark-opaque);
}

button:disabled {
  cursor: not-allowed;
  background-color: var(--detail-color-dark-opaque);
}

#add-days-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

#add-days-container > label {
  align-self: center;
}

#add-days-container > input {
  margin-top: 0px;
}

#increment-days {
  width: 60px;
  margin-left: 10px;
}
