tr {
  background-color: white;
  margin-top: 20px;
  display: table-row;
  height: 57px;
}

/* tr:nth-child(even) {
  background-color: var(--light-color);
}

tr:nth-child(odd) {
  background-color: var(--detail-color-dark-opaque);
} */

td {
  color: var(--main-color);
  font-size: small;
  border-style: none;
}

td:first-child {
  /* border-left-style: solid; */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
td:last-child {
  /* border-right-style: solid; */
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.checkdone {
  height: 19px;
  margin: auto;
}

input[type='checkbox'] {
  accent-color: var(--detail-color-dark);
}

img {
  width: 25px;
  padding: 5px;
}

.displayMore,
.deleteTask,
.overdue {
  text-align: center;
}

.displayMore > img:hover,
.deleteTask > img:hover {
  cursor: pointer;
  background-color: var(--detail-color-dark-opaque);
  border-radius: 50%;
}

.more-info > * {
  background-color: var(--light-color);
}

ul {
  list-style: circle;
  line-height: 30px;
}

li > span {
  font-weight: bold;
}
