tr {
  background-color: white;
  margin-top: 20px;
  padding: 10px;
  display: table-row;
  /* transition: all 0.5s ease-in-out; */
}

/* tr:nth-child(even) {
  background-color: var(--light-color);
}

tr:nth-child(odd) {
  background-color: var(--detail-color-dark-opaque);
} */

td {
  color: var(--main-color);
  font-size: small;
}

.checkdone {
  height: 19px;
  margin: auto;
}

input[type='checkbox'] {
  accent-color: var(--detail-color-dark);
}

img {
  width: 25px;
  padding: 5px;
}

.displayMore,
.deleteTask,
.overdue {
  text-align: center;
}

.displayMore > img:hover,
.deleteTask > img:hover {
  cursor: pointer;
  background-color: var(--detail-color-dark-opaque);
  border-radius: 50%;
}

.more-info > * {
  background-color: var(--light-color);
}

ul {
  list-style: circle;
  line-height: 30px;
}

li > span {
  font-weight: bold;
}
