#taskcontainer {
  background-color: var(--detail-color-light);
  color: var(--main-color);
  padding: 1.1rem 0.7rem;
  margin: 2rem auto;
  width: 90%;
}

table {
  border-spacing: 0px 13px;
  width: 100%;
  margin: 1rem auto;
  text-align: left;
}

th {
  border: none;
  background-color: var(--detail-color-light);
  padding: 10px 0px;
  text-align: center;
}

th:nth-child(2) {
  text-align: left;
}
